.backdrop {
  position: fixed;
  z-index: 1000;
  background-color: #00000038;
  height: 100vh;
  width: 100vw;
}

.modal {
  z-index: 1001;
  position: fixed;
  transform: translateY(-5px);
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background-color: var(--dark01);
  border-radius: 5px;
  box-shadow: rgb(3 61 119 / 31%) 0px 0px 7px;
}

.show.modal {
  opacity: 1;
  transform: translateY(5px);
}