.section-item {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid var(--darkbl);
  overflow: hidden;
}

.section-item h2 {
  background-color: var(--darkbl);
  padding: 0 25px;
  font-size: 17px;
  color: var(--blue02);
}

.section-content {
  padding: 10px;
}

.forums-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.forum-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--darkbl);
  cursor: pointer;
  padding: 1px 10px;
  color: var(--borderc);
  // border-top-right-radius: 5px;
  // border-bottom-right-radius: 5px;
}