.auth-title:not(.auth-title.active) {
  cursor: pointer;
}

.auth-title:hover {
  background-color: var(--dark03);
}

.auth-title.active {
  background-color: var(--dark03);
}

.header-form {
  border-bottom: 2px solid var(--borderc);
}