.forum-title {
  background-color: var(--blue02);
  color: var(--dark01);
  font-weight: 700;
  font-family: 'PlusJakartaSans-ExtraBold';
  width: fit-content;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
